Source/Logging/WSDLS/javathatlogs.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="urn:amx:BPMEnvironment/JavaServiceThatLogsComposite" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.siemens.com/medical/bpuia/samples/logging/services/JavaServiceThatLogs/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="JavaServiceThatLogsComponent_1.0.0.201211291427_service_JavaServiceThatLogs_JavaServiceThatLogs" targetNamespace="urn:amx:BPMEnvironment/JavaServiceThatLogsComposite">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siemens.com/medical/bpuia/samples/logging/services/JavaServiceThatLogs/" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="JavaOperationRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="in" form="unqualified" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="JavaOperationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="out" form="unqualified" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="JavaOperationRequestMsg">
        <wsdl:part name="parameters" element="ns0:JavaOperationRequest"/>
    </wsdl:message>
    <wsdl:message name="JavaOperationResponseMsg">
        <wsdl:part name="parameters" element="ns0:JavaOperationResponse"/>
    </wsdl:message>
    <wsdl:portType name="JavaServiceThatLogs">
        <wsdl:operation name="JavaOperation">
            <wsdl:input message="tns:JavaOperationRequestMsg"/>
            <wsdl:output message="tns:JavaOperationResponseMsg"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SOAPService_BindingJ" type="tns:JavaServiceThatLogs">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="JavaOperation">
            <wsdl:documentation/>
            <soap:operation style="document" soapAction="JavaOperation"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="JavaServiceThatLogsComponent_1.0.0.201211291427_service_JavaServiceThatLogs_JavaServiceThatLogs">
        <wsdl:port name="SOAPService_BindingJ" binding="tns:SOAPService_BindingJ">
            <soap:address location="http://0.0.0.0:38080/javaServiceThatLogs/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>