Source/Logging/WSDLS/serverlogger.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="urn:amx:BPMEnvironment/ServerLoggerComposite" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.siemens.com/medical/bpuia/samples/logging/services/ServerLogger/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ServerLoggerComponent_1.0.0.201211291316_service_ServerLogger_ServerLogger" targetNamespace="urn:amx:BPMEnvironment/ServerLoggerComposite">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siemens.com/medical/bpuia/samples/logging/services/ServerLogger/" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="LogToServerRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="level" form="unqualified" type="xs:string"/>
                        <xs:element name="message" form="unqualified" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="LogToServerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="outcome" form="unqualified" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="LogToServerRequestMsg">
        <wsdl:part name="parameters" element="ns0:LogToServerRequest"/>
    </wsdl:message>
    <wsdl:message name="LogToServerResponseMsg">
        <wsdl:part name="parameters" element="ns0:LogToServerResponse"/>
    </wsdl:message>
    <wsdl:portType name="ServerLogger">
        <wsdl:operation name="LogToServer">
            <wsdl:input message="tns:LogToServerRequestMsg"/>
            <wsdl:output message="tns:LogToServerResponseMsg"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SOAPService_Binding1" type="tns:ServerLogger">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="LogToServer">
            <wsdl:documentation/>
            <soap:operation style="document" soapAction="LogToServer"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ServerLoggerComponent_1.0.0.201211291316_service_ServerLogger_ServerLogger">
        <wsdl:port name="SOAPService_Binding1" binding="tns:SOAPService_Binding1">
            <soap:address location="http://0.0.0.0:38080/serverLogger/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>